$blue: #2395d3;
$orange: #ff7b02;
$teal-dark: #024863;
$green: #27ae60;

$blue-light: #e9f4fb;
$blue-dark: #2395d3;

$white: #fff;
$grey: #6f6f6f;
$dark-grey: #333333;
$black: #000;

$grey-light: #cccccc;

$background-light: #2395d310;
$background: $blue-light;

$color-primary: $blue;
$color-secondary: $orange;
$text-color: $dark-grey;

$flatpickr-background-color: $blue-light;
$flatpickr-font-color: $dark-grey;
$flatpickr-month-font-color-hover: $white;
$flatpickr-month-hover-color: $blue-dark;

$pill-color: $dark-grey;
$pill-color-background: $grey-light;

$pill-color-selected: $white;
$pill-color-background-selected: $blue-dark;
