.c-carousel {
  position: relative;

  margin: 100px 0 80px;
}

.c-carousel__inner {
  display: flex;
  flex-direction: column;

  position: relative;

  @include tablet {
    flex-direction: row-reverse;
    justify-content: flex-end;

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.c-carousel__title {
  padding: 0 1.5rem;

  font-family: $font-title;

  @include tablet {
    margin-top: 3rem;
    padding: 80px 0px 80px 5vw;
  }
}

.c-carousel__icon {
  width: 30px;
  margin-right: 1rem;
}

.c-carousel__scroll {
  position: relative;

  .scroller {
    overflow: visible;
  }
}

.c-carousel__background {
  display: none;

  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: -1;

  width: 32%;
  height: 590px;

  background-color: $teal-dark;
  border-radius: 0 30px 30px 0;

  @include tablet {
    display: block;
  }
}

.c-carousel__phone-background {
  position: absolute;
  top: 50%;
  z-index: -1;

  width: 100%;
  height: 480px;

  background-color: $teal-dark;
  border-radius: 30px;

  transform: translateY(-55%);

  @include tablet {
    display: none;
  }
}

.c-carousel__items {
  display: flex;
  flex-direction: column;

  padding-right: 1rem;
  margin-top: 1.5rem;
  width: 100%;

  @include tablet {
    margin-top: 0px;
  }
}

.c-carousel__item {
  display: flex;
  align-items: center;

  position: relative;

  padding: 0.5rem 0.5rem 0.5rem 1.5rem;

  cursor: pointer;

  &::before {
    content: "";

    display: inline-block;

    position: absolute;
    left: 0;

    width: 100%;
    height: 50px;

    border-radius: 0 25px 25px 0;
    background-color: $background-light;

    opacity: 0;
    transform: scaleX(0.9);
    transform-origin: left center;
    transition: opacity 0.3s ease-out, transform 0.5s ease-out;
  }

  &--active {
    &::before {
      opacity: 1;
      transform: scaleX(1);
    }

    .c-carousel__item-text {
      width: 100%;

      color: $blue;
    }
  }

  @include tablet {
    padding: 0.5rem 0.5rem 0.5rem 5vw;
  }
}

.c-carousel__item-text {
  padding-right: 1rem 2rem;

  border-radius: 0 25px 25px 0;
  color: $grey;

  transition: color 0.2s;

  @include on-event {
    color: $blue;
  }
}

.c-phone__container {
  display: flex;
  justify-content: center;

  padding: 3rem 0 1rem;
}

.c-phone__flex-inner {
  position: relative;

  min-height: 700px;
  width: 325px;
}

.c-phone {
  position: absolute;
  top: 0;

  &--active {
    .c-phone__image {
      opacity: 1;
    }
  }
}

.c-phone__mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  min-height: 669px;
  width: 325px;
}

.c-phone__image {
  position: absolute;
  top: 14px;
  left: 14px;

  opacity: 0;

  transition: opacity 0.5s;
}

.c-phone__shadow {
  position: absolute;
  top: 0;

  height: 670px;
  width: 100%;

  box-shadow: $box-shadow;
  background-color: $white;
  border-radius: 50px;
}

.c-carousel__download-buttons {
  .download-buttons {
    display: flex;

    padding: 0 1.5rem;

    > a img {
      margin-right: 2rem;
      height: 50px;
    }

    @include tablet {
      padding: 4rem 5vw 3rem;
    }
  }
}
