.c-page-content {
  margin-top: 32px;

  color: $grey;
  line-height: 160%;

  h2 {
    @extend .t-title-2;

    margin-bottom: 12px;

    color: $teal-dark;
  }

  p {
    margin-bottom: 1.5rem;
  }

  strong {
    display: block;

    color: $text-color;
    font-family: $font-body-bold;
  }

  ol {
    margin: 1.5rem 0px;

    li {
      margin-left: 1.5rem;

      line-height: 160%;
    }
  }

  ul {
    margin: 1.5rem 0px;
    margin-left: 15px;

    list-style: none;

    li {
      align-items: flex-start;

      line-height: 160%;

      strong {
        display: inline;
      }

      &::before {
        display: inline-block;

        width: 0.5em;
        margin: 0px 0.5em;
        margin-left: -15px;

        color: $grey;
        content: "\2022";
      }
    }
  }

  img,
  figure {
    width: 100%;
    margin: 1rem 0;

    border-radius: 30px;
  }

  figcaption {
    color: $grey;
  }
}

.c-page-content__subtitle {
  font-size: 24px;
  line-height: 110%;
  color: $teal-dark;
  font-family: $font-title;

  margin: 2.5rem 0 1rem;
}
