$row: 1440px;
$row-padding: 24px;
$row-padding-tablet: 50px;
$row-padding-desktop: $row-padding-tablet;
$row-padding-desktop-wide: $row-padding;
$inner-row--mobile: 600px;
$inner-row--large: 1210px;
$inner-row--small: 974px;
$inner-row--smaller: 868px;
$inner-row--smallest: $inner-row--mobile;
